body {font-family: 'Oswald', sans-serif;
text-align: left;
background: #FFFFFF;
background-image:url("../assets/Foam.jpg");
background-repeat: no-repeat;
background-size: cover;

}

h1 {font-family: 'Oswald', sans-serif; text-align: left;
font-size: 30px
}
h2 {font-family: 'Oswald', sans-serif; text-align: left;
font-style: italic;font-size: 18px}

a{display: block;
}

img{
	display: right;
}

.first{
	color:#475763;
	}

#second{}	
